<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription
NSLocationAlwaysAndWhenInUseUsageDescription
NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to improve search results.
We use your location to improve search results.
WE USE YOUR LOCATION TO IMPROVE SEARCH RESULTS</string>
</dict>
</plist>
